@font-face {
  font-family: my_font;
  src: url("./NBInternationalProBoo.woff2");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #dadada;
  position: relative;
}

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
#page1-content {
  height: 100%;
  width: 100%;
  /* background-color: rgb(5, 5, 5); */
  background-color: transparent;
  position: relative;
  z-index: 110;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background-color: green; */
  background-color: transparent;
  padding: 3vw 3vw;
}

nav h3 {
  font-size: 1.4vw;
  font-weight: 100;
}

#page1-content h1 {
  margin: 0vw 3vw;
  font-size: 25vw;

  font-weight: 100;
  line-height: 27vw;
}

#page1-content h1 span {
  font-family: my_font;
}

#cursor {
  height: 7.5vw;
  width: 7.5vw;
  background-color: #ff5f38;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9;
  transform: translate(-50%, -50%);
}

#cursor h1 {
  font-size: 1.7vw;
}

#page2 {
  height: 100vh;
  width: 100%;
  background-color: rgb(221, 221, 157);
  position: relative;
  padding: 5vw 2.8vw;
}

#page2-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1.2vw;
  margin-bottom: 1vw;
  border-bottom: 1px solid #00000092;
}
#page2-top h3 {
  font-size: 1.7vw;
  font-weight: 500;
  width: 26%;
}

#page2-top h4 {
  font-size: 1.7vw;
  font-weight: 500;
}
.elem {
  overflow: hidden;
}

.elem h1 {
  font-size: 4.2vw;
  font-weight: 500;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 3vw;
}

#page3-top {
  /* background-color: red; */
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#page3-top h4 {
  margin-bottom: 1vw;
  font-size: 1vw;
  font-weight: 500;
}

#page3-top h4 span {
  font-size: 0.7vw;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 0.2vw 0.5vw;
}

#page3-top h2 {
  font-size: 4vw;
  font-weight: 500;
}

#page3-elements {
  height: 70vh;
  margin-top: 3vw;
  width: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
}

#page3-elements .box {
  width: 32.5%;
  height: 100%;
  /* background-color: brown; */
  border-radius: 30px;
}

#page3-elements .box video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
#page3-elements .box img {
  position: absolute;
  height: 70vh;
  width: 30.2vw;
  object-fit: cover;
  object-position: center;
  transition: all linear 1s;
}

#page3-elements .box:hover img {
  opacity: 0;
}
